<!doctype html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/styleguide.css">
   
    <title>Adconnect</title>
  </head>
  <body class="contact-body">

{% render 'partials/header.liquid' %}



<section class="contact-section">
<h1>Vragen? Neem contact op</h1>
<p>Heb je vragen of wil je meer weten over Associate Degrees neem dan via het onderstaande formulier contact met ons op.</p>

<article class="form-article">
  <h2>Contactformulier</h2>
  <form action="/contact" method="POST">
    <label>
      Naam + Achternaam
      <input
        class="focus-visible"
        type="text"
        name="name"
        required
      >
    </label>

    <label>
      E-mailadres
      <input
        class="focus-visible"
        type="email"
        name="email"
        required
     
      >
    </label>

    <label>
      Jouw vraag
      <textarea
        name="message"
        placeholder="Beste Overlegplatform Ad's, ik heb een vraag over.."
        required
      
      ></textarea>
    </label>
    <button class="form-button focus-visible" type="submit">Formulier verzenden</button>
  </form>
</article>
</section>